/* Base */
	body {
		line-height: 1.7;
		color: #4d4d4d;
		font-weight: 400;
		font-size: 1rem;
		font-family: "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
		font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
		margin: 0;
		background: #001319;
	}

	h1{
		font-family: "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	}

	h2 {
		font-family: 'Permanent Marker', cursive;
		color: white;
		font-size: 30px;
	}

	header {
		width: 100%;
		height: 90vh;
		display: inline-block;
	}

	audio {
		width: 300px;
		height: 31px;
		margin-top: 5%;
	}
/* Base */
.header-bg{
	width: 50%;
	height: 98vh;
	background: url('../images/david_guetta7.jpg') bottom;
	background-size: cover;
	display: inline-block;
}

.header-info{
	width: 60%;
	height: 100vh;
	display: inline-block;
	position: absolute;
	right: 0;
	background: black;
	overflow-y: auto;
}

#container-title{
	background: #0f0c29;  /* fallback for old browsers */
	background: linear-gradient(to right, #e20d44, #040404, #00000000);
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	width: 100%;
	position: absolute;
	margin-top: 2%;
	z-index: 2;
}
#container-title h1 {
	margin: 0;
	text-align: center;
	font-size: 4rem;
	color: wheat;
}

.shadow { 
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.shadow-2 {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#discography {
	left: calc(50vw - 70%);
}

.container-artist {
	position: absolute;
	top: calc(100vh - 85%);
	margin: 5%;
	margin-top: 0;
}

.container-cards {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
}

#container-info h1{
	font-size: 2rem;
}
#web-oficial {
	background:url('../images/david_guetta7.jpg') center;
	width: 100%;
	background-size: cover;
}
/* Card */
.card {
	background: #fff;
	border-radius: 2px;
	display: inline-block;
	height: 300px;
	margin: 1rem;
	position: relative;
	width: 300px;
}

.card-2 {
	background: #fff;
	border-radius: 2px;
	display: inline-block;
	position: relative;
	padding: 20px;
}

.card-header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #782e598a;
    height: 20%;
    color: white;
    font-weight: bold;
    text-align: center;
}

.card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #782e598a;
    height: 20%;
    color: white;
    font-weight: bold;
    text-align: center;
}
/* Card */


/* Media query */

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {



}
  
/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {



}
  
/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
	.header-info {
		width: 100%;
	}
}
  
/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	.header-info {
		width: 100%;
	}
	#container-title h1 {
		font-size: 2.5rem;
	}
	.header-bg {
		width: 100%;
		display: block;
		background: url('../images/david_guetta7.jpg') bottom;
		background-size: cover;
	}
	#container-title {
		position: fixed;
	}
}